# Scenario 1
18 month hackathon (02/26/2024)

### Load dependencies and interfaces

In [1]:
import os
import pyciemss
import torch
import pandas as pd
smoke_test = ('CI' in os.environ)

### Select models and data

In [2]:
MODEL_PATH = "https://raw.githubusercontent.com/DARPA-ASKEM/simulation-integration/main/data/models/"
DATA_PATH = r"https://raw.githubusercontent.com/ciemss/program-milestones/epi-scenario-1/18-month-milestone/hackathon/epi/Scenario%201%20Supplemental/"

model1 = os.path.join(MODEL_PATH, "SEIRD_base_model01_petrinet.json")
dataset1 = os.path.join(DATA_PATH, "UK_compartments.csv")

In [3]:
# Load datasets 
df = pd.read_csv(dataset1, index_col=0)

In [22]:
# Put all rows where compartment = 'D' into a new df
df_D = df[df['compartment'] == 'D']
t_values = df_D['t'].unique()
# For every value in t_values, print the rows where t = value
for t in t_values:
    print(df_D[df_D['t'] == t])
    break
# Make a new df where the index is the t_values, and the columns are the unique values in the 'compartment' column
df_new = pd.DataFrame(index=t_values, columns=['S','E','I','R','D'])
# df_new['S'] should be the sum of all values 'y' where 'compartment' = 'S' and 't' = index
for t in t_values:
    df_new['S'][t] = df[(df['compartment'] == 'S') & (df['t'] == t)]['y'].sum()
    df_new['E'][t] = df[(df['compartment'] == 'E') & (df['t'] == t)]['y'].sum()
    # df_new['I'][t] = df[(df['compartment'] == 'I') & (df['t'] == t)]['y'].sum()
    df_new['R'][t] = df[(df['compartment'] == 'R') & (df['t'] == t)]['y'].sum()
    df_new['D'][t] = df[(df['compartment'] == 'D') & (df['t'] == t)]['y'].sum()

# Group by 'compartment' and 't', then sum 'y' values
grouped = df.groupby(['compartment', 't'])['y'].sum()

# Reshape the DataFrame and fill missing values with 0
df_new = grouped.unstack(fill_value=0)

# Optionally, rename the columns to match your expected output
df_new = df_new.rename(columns={'S': 'E', 'E': 'E', 'I': 'I', 'R': 'R', 'D': 'D'})

         replicate  age_group compartment    t  y
1                1          1           D  0.2  0
6001             1          2           D  0.2  0
12001            1          3           D  0.2  0
18001            1          4           D  0.2  0
24001            1          5           D  0.2  0
...            ...        ...         ...  ... ..
990001          10         13           D  0.2  0
996001          10         14           D  0.2  0
1002001         10         15           D  0.2  0
1008001         10         16           D  0.2  0
1014001         10         17           D  0.2  0

[170 rows x 5 columns]

/var/folders/hk/k8dnj_ys2dscb0hh74y7bm9m0000gn/T/ipykernel_18523/2247961311.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_new['S'][t] = df[(df['compartment'] == 'S') & (df['t'] == t)]['y'].sum()
/var/folders/hk/k8dnj_ys2dscb0hh74y7bm9m0000gn/T/ipykernel_18523/2247961311.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_new['E'][t] = df[(df['compartment'] == 'E') & (df['t'] == t)]['y'].sum()
/var/folders/hk/k8dnj_ys2dscb0hh74y7bm9m0000gn/T/ipykernel_18523/2247961311.py:15: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_new['R'][t] = df[(df['compartment'] == 'R') & (df['t'] == t)]['y'].sum()
/var/folders/hk/k8dnj_ys2dscb0hh74y7bm9m0000gn/T/ipykernel_18523/2247961311.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_new['D'][t] = df[(df['compartment'] == 'D') & (df['t'] == t)]['y'].sum()

In [21]:
df_new

         S    E    I    R    D
0.2    NaN  NaN  NaN  NaN  NaN
0.4    NaN  NaN  NaN  NaN  NaN
0.6    NaN  NaN  NaN  NaN  NaN
0.8    NaN  NaN  NaN  NaN  NaN
1.0    NaN  NaN  NaN  NaN  NaN
...    ...  ...  ...  ...  ...
199.2  NaN  NaN  NaN  NaN  NaN
199.4  NaN  NaN  NaN  NaN  NaN
199.6  NaN  NaN  NaN  NaN  NaN
199.8  NaN  NaN  NaN  NaN  NaN
200.0  NaN  NaN  NaN  NaN  NaN

[1000 rows x 5 columns]